html,body{
    height: 100%;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
}


.navbar{
    padding: .15rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1em !important;
}



.carousel-slide{
    height: 70%;
    width: 100%;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 13px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 9px #000;
    padding-bottom: 1rem;
}


.padding-home{
    padding: 0.5rem;
    margin-top: 2rem;
}


.fab{
    font-size: 25px;
    padding: 15px;
    color: white;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

footer {
    width: 100%;
    background-color: rgba(172, 172, 167, 0.815);
    padding: 5% 5% 10% 5%;
    color: white;
}

.icon{
    max-width: 200px;
}

h2{
    text-decoration: underline gray;
}

.row text-center padding{
    border-radius: 0;
    margin: auto;
}






.contact{
    background-image: url(img/contact.JPG);
    background-size: cover;
}

.contact-form{
    background: rgba(139, 139, 130, 0.836);
    color:white;
    margin-top: 3rem;
    margin-bottom:1rem;
    box-shadow: 0px 0px 10px 3px grey;
}


#home{
    background:url(img/Canada/IMG_5498.JPG) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-size: 400%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;

}

.landing-text h3{
    font-size: 250%;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 10px #000;
}

.padding-article {
    padding: 80px 0;
}

.padding-article img{
    width: 100%;
}

#fixed1{
    background: url(img/Canada/IMG_5517.JPG) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}



#fixed2{
    background: url(img/Canada/IMG_5417.JPG) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#home1{
    background:url(img/SA/IMG_5894.JPG) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed3{
    background: url(img/SA/IMG_6088.JPG) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed4{
    background: url(img/SA/IMG_6062.JPG) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#pyrenees{
    display: none;
}

#britany{
    display: none;
}

#lozere{
    display: none;
}

.hiddenimg{
    position:relative;
    text-align:center;
    margin-bottom: 2rem;
}

#hiddenbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}